html, body {
  margin: 0;
  padding: 0;
}

/*Transition-part*/

#artical_pic {height: 32em; position: relative;
  overflow: hidden}
#artical_pic > * {position: absolute; top: 100%; left: 0;
  animation: 20s autoplay2 infinite ease-in-out}

@keyframes autoplay2 {
  0% {top: 100%}
  2.4% {top: 0%}
  19.9% {top: 0%}
  22.3% {top: -100%}
  39.9% {top: -100%}
  42.9% {top: -200%}
  59.8% {top: -200%}
  62.2% {top: -300%}
  79.7% {top: -300%}
  82.1% {top: -400%}
  100% {top: -400%}
}
#artical_pic > *:nth-child(1) {animation-delay: 0s}
#artical_pic > *:nth-child(2) {animation-delay: 4s}
#artical_pic > *:nth-child(3) {animation-delay: 8s}
#artical_pic > *:nth-child(4) {animation-delay: 12s}
#artical_pic > *:nth-child(5) {animation-delay: 16s}

#artical_pic{
  margin-left: 18%;
}
@media (max-width: 600px) {
    #artical_pic{
      margin-left: 3%;
      margin-top: 5%;
    }
}

/*Dream your next*/
#next_trip{
    width: 90%;
    margin-left: 7.5%;
    position: relative;
}
#next_trip_title{
  font-size: 27px;
  color: black;
  font-family: sans-serif;
  font-weight: 550;
  color: orange;
  border-bottom: 4px solid orange;
  width: 280px;
  margin-left: 2%;
  margin-top: 3%;
}
@media (max-width: 600px) {
  #next_trip_title{
  margin-left: 15%;
  }
}
#famous_activity{
  font-size: 15px;
  font-family: sans-serif;
  color: #7a7a7a;
}
#place-name{
  font-family: sans-serif;
  font-size: 20px;
}
#pic{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 2%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
.img__section {
  position: relative;
  height: 300px;
  width: 400px;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  font-size: 22px;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 1s, visibility 1s;
}

.img_section:hover .img_description { 
  visibility: visible; 
  opacity: 1;
}

/*About-us*/
#about-us{
  width: 100%;
  background-color: #eeeeee;
  margin-top: -10%;
}
#about-us svg{
  display: block;
}
.aboutus-heading{
  margin-left: 44%; 
  margin-bottom: 2%;
  font-size: 2.2vw;
  font-family: sans-serif; 
  font-weight: 500; 
  margin-top: 0px; 
  color: orange; 
  border-bottom: 4px solid orange; 
  margin-right: 44%;
}
@media (max-width: 600px) {
    .aboutus-heading{
    margin-left: 36%; 
    font-size: 150%; 
    margin-right: 35%;
}
}
#about-us2{
    margin-left: 13%; 
    margin-right: 13%; 
    color: #7A7A7A;
}
@media (max-width: 600px) {
    #about-us2{
    margin-left: 8%; 
    margin-right: 8%; 
    color: #7A7A7A;
}
}
faltu
