html, body {
    margin: 0;
    padding: 0;
  }
  
  
  /*Booking-form*/
  
  #booking-form{
    margin-top: 0px;
    height: 100%;
  } 
  @media (max-width: 600px) {
    #booking-form{
    margin-top: 30px;
  } 
  }
  .img_img{
    position: relative;
  }
  #myVideo {
    position: relative;
    top: 37%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70%;
  }
  .main{
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  #heading{
    position: absolute;
    margin-left: 35%;
    margin-top: 2%;
    color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
    border: 1px solid orange;
    background-color: orange;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
  }
  @media (max-width: 600px) {
    #heading{
    font-size: 3.5vw;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25%;
    }
  }
  #input{
    width: 95%;
    height: 75%;
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
  }
  @media (max-width: 600px) {
    #input{
    width: 95%;
    height: 75%;
    position: absolute;
    margin-left: 3%;
  }
  }
  .color{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    visibility: visible;
    opacity: 0;
  }
  #form-headings{
    color: orange;
    font-size: 1.7vw;
    position: relative;
    top: 7px;
    font-family: sans-serif;
  }
  @media (max-width: 600px) {
    #form-headings{
    font-size: 3.5vw;
    position: relative;
    top: 0px;
  }
  }
  #input-heading{
    color: white;
    font-size: 2.1vw;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px; 
  }
  @media (max-width: 600px) {
    #input-heading{
    font-size: 4vw;
     }
  } 
  #heading2{
      color: white;
      font-family: fantasy;
      font-size: 2.3vw;
      margin-left: 3%;
      border: 1px solid lightblue;
      background-color: rgb(122, 210, 240);
      border-radius: 3px;
      padding: 5px 10px 5px 10px;
  }
  @media (max-width: 600px) {
    #heading2{
    font-size: 15px;
    position: relative;
    top: 12px;
     }
  } 
  #places-img img{
      width: 290px;
      height: 240px;
  }
  @media (max-width: 600px) {
      #places-img img{
      width: 45px;
      height: 45px;
  }
  } 
  #img-des{
      color: white;
      font-family: sans-serif;
      font-size: 18px;
      position: relative;
      bottom: 6vh;
      margin-left: 15px;
      font-weight: 600;
  }
  @media (max-width: 600px) {
      #img-des{
      font-size: 18px;
      position: relative;
      bottom: 6vh;
      margin-left: 5px;
      font-weight: 600;
  }
  } 
  #places{
      margin-left: 3%;
  }
  @media (max-width: 600px) {
      #places{
      margin-left: 5%;
      
  }
  }
  #input > div{
      display: inline-block;
  }
  #numbering{
      border: 1px solid #34e0a1;
      background-color: #34e0a1; 
      padding: 9px 5px 9px 5px;
      border-radius: 4px;
  }
  @media (max-width: 600px) {
      #numbering{
      visibility: hidden;
  }
  }