#div_head{
    background-color: #333;
    height: 182px;
    width: 100%;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
#com-name{
    color: #ffa500;
}
#full-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 2px;
}
#div_heads:hover{
    background-color: #333;
    height: 184px;
    color: #ffa500;
    font-family: sans-serif;
    font-size: 20px;
}
#div_head img {  
    width: 190px; 
    float: left; 
    margin-left: 150px;
  }
.borders{
    border: 1px solid black;
    border-radius: 7px;
    font-size: 20px;
    padding: 3px;
}
.borders:hover{
    background-color: #333;
    border: 1px solid #333;
    border-radius: 7px;
    font-size: 20px;
    color: white;
}
#faq{
    width: 100%;
}
#faq2{
  width: 90%;
  border: 1px solid #7A7A7A;
  margin-left: 80px;
}
#questions{
  font-size: 25px;
  font-weight: 545;
  color: #7A7A7A;
}
#answers{
  font-size: 20px;
  color: #7A7A7A;
}
#faq2 ul li{
  list-style: none;
}
#main{
    height: 100vh;
    width: 100%;
    /*left: 10%;
    top: 10vh;*/
    background-color: #eeeeee;
}
#location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 10%;
}
#input-text{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-color: white;
    box-shadow: 5px 10px 8px #888888;
    color: #7a7a7a;
}
#rating{
    position: absolute;
    top: 62%;
    left: 26%;
}
#rating input[type='radio'] {
    height: 30px;
    width: 30px;
}
#rating input[type='radio']:checked:after {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: #ffa500;
        content: '';
        display: inline-block;
        visibility: visible;
    }
#trip-type{
    position: absolute;
    top: 78%;
    left: 26%;
}
#trip-type input[type='radio'] {
    height: 20px;
    width: 20px;
}
#trip-type{
    font-size: 20px;
}
#travel-date{
    position: absolute;
    top: 94%;
    left: 26%;
}
#input-box{
    width: 280px;
    height: 28px;
}
#written-review{
    position: absolute;
    top: 110%;
    left: 26%;
}
#submit{
    position: absolute;
    top: 128%;
    left: 73%;
    border-color: black;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 10px 15px 10px 15px;
    border-radius: 3px;
}