<<<<<<< HEAD
main{
    background: rgba(251,229,200,1);
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 2%, rgba(249,114,0,0.8) 26%, rgba(251,229,200,1) 66%, rgba(249,114,0,0.8) 76%,rgba(0,0,0,0.9) 100%);
   border-radius: 20px;
}

table{
    margin: 2% 10%;
}



#bJH1,#pgH1,#sDH1,#cnH1,#mBH1{
    text-align: justify;
    margin-top: 2%;
}



#bJLocations,#mBLocations,#pgLocations,#sDLocations,#cnLocations{
    margin: 0 ;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1{
    text-align: center;
    color: #a7ffef;
    text-shadow: 3px 3px 1px black;
}

h1,h3{
    text-decoration: underline;
}

h3{
    color: whitesmoke;
    text-shadow: 3px 2px 1px black;
}



.mTETxt{
    font-size: 130%;
    font-weight: bold;
    text-shadow: -0.5px 0.5px  #f2fc9f;
}

ol, ul{
    text-shadow: -0.5px 0.5px  #fffb00dc;
}

table{
    background: linear-gradient(45deg, rgb(245, 136, 47), rgba(241, 173, 85,1), rgb(245, 136, 47));
}

main img{
    box-shadow: 3px 3px 5px 2px rgba(255, 255, 255, 0.692);
}







=======
main{
    background: rgba(251,229,200,1);
    background: linear-gradient(90deg, rgba(0,0,0,0.9) 2%, rgba(249,114,0,0.8) 26%, rgba(251,229,200,1) 66%, rgba(249,114,0,0.8) 76%,rgba(0,0,0,0.9) 100%);
   border-radius: 20px;
}

table{
    margin: 2% 10%;
}



#bJH1,#pgH1,#sDH1,#cnH1,#mBH1{
    text-align: justify;
    margin-top: 2%;
}



#bJLocations,#mBLocations,#pgLocations,#sDLocations,#cnLocations{
    margin: 0 ;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h1{
    text-align: center;
    color: #a7ffef;
    text-shadow: 3px 3px 1px black;
}

h1,h3{
    text-decoration: underline;
}

h3{
    color: whitesmoke;
    text-shadow: 3px 2px 1px black;
}



.mTETxt{
    font-size: 130%;
    font-weight: bold;
    text-shadow: -0.5px 0.5px  #f2fc9f;
}

ol, ul{
    text-shadow: -0.5px 0.5px  #fffb00dc;
}

table{
    background: linear-gradient(45deg, rgb(245, 136, 47), rgba(241, 173, 85,1), rgb(245, 136, 47));
}

main img{
    box-shadow: 3px 3px 5px 2px rgba(255, 255, 255, 0.692);
}







>>>>>>> fb8d4381fd953cbac79ca70c0c6bde1799c0282e
 