main{
  display: block;    
  background: linear-gradient(90deg, #8946A6 6%, #B762C1 14%, #EA99D5 16%, #FFCDDD 70%, #EA99D5 84%, #B762C1 92%, #8946A6 100%);
  border: 3.5px dotted black;
  }

#mainAll{
  margin: 2% 22%;
}

#headings{
    text-align: center;
    text-decoration: underline;
    text-shadow: 15px 13px 7px black;
    color: black;
}

#image{
    float: right;
    width: 40%;
    height: 40%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: double 5px;
    padding: 5px;
}

#text{
  padding: 5px 20px;
  text-align: left;
  font-size: 130%;
}

h2{
  text-decoration: underline;
}

/*Goa Food*/
#gFood{
  border: solid 5px black;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.gImg{   /*Food and places image class*/
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: -3px -3px 8px 4px rgba(0, 0, 0, 0.89);
}
@media (max-width:600px){
  .gImg{
    width: 100px;
  height: 130px;
  }
  
}

.gTxt{   /*Food and places text class*/
  font-size: 120%;
  text-align: right;
}

#gFImgPoee, #gFImgSanna, #gFImgSorpotel{
  float: left;
}

/*Goa Famous Places*/
#gFamousPlaces{
  border: solid 5px black;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
}

#gFPImgPalolem, #gFPImgFort, #gFPImgBom{
  float: right;
  box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.89);
  border-radius: 10px;
}

#gFPTxtPalolem, #gFPTxtFort, #gFPTxtBom{
  text-align: left;
}

/*Goa Things to do*/
#gTTD{
  border: solid 5px black;
  padding: 10px;
  border-radius: 50px;
}
 
.gImgTTD{    /*TTD image class*/
  width: auto;
  height: auto;
}

@media (max-width:600px){
  .gImgTTD{
    width: 100px;
  height: 130px;
  }
  
}

#gImTDD{    /*TTD image id*/
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}



h1{
  text-align: center;
}

.exc h1{
  color: #ff9274;
  text-shadow: 2px 2px 1px black;
}

.exc h2{
  color: #000080;
  text-shadow: 2px 2px 1px white;
}




