main{
  display: block;    
  background: linear-gradient(90deg, #516BEB 8%, #84DFFF 16%, #FFFCDC 24%, #EDD2F3 76%, #FFFCDC 84%, #84DFFF 92%, #516BEB 100%);
  border: 3.5px dotted black;
  }

#mainAll{
  margin: 2% 22%;
}

#headings{
    text-align: center;
    text-decoration: underline;
    text-shadow: 15px 13px 7px black;
    color: black;
}

#image{
    float: right;
    width: 40%;
    height: 40%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border: double 5px;
    padding: 5px;
}

#text{
  padding: 5px 20px;
  text-align: left;
  font-size: 130%;
}

h2{
  text-decoration: underline;
}

/*Rishikesh Food*/
#rFood{
  border: solid 5px black;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.rImg{   /*Food and places image class*/
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: -3px -3px 8px 4px rgba(0, 0, 0, 0.89);
}
@media (max-width:600px){
  .rImg{
    width: 100px;
  height: 130px;
  }
  
}

.rTxt{   /*Food and places text class*/
  font-size: 120%;
  text-align: right;
}

#rFImgKafuli, #rFImgRabri, #rFImgFannah{
  float: left;
}

/*Rishikesh Famous Places*/

#rFamousPlaces{
  border: solid 5px black;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 10px;
}

#rFPImgAshram, #rFPImgShivpuri, #rFPImgTemple{
  float: right;
  box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.89);
  border-radius: 10px;
}

#rFPTxtAshram, #rFPTxtShivpuri, #rFPTxtTemple{
  text-align: left;
}

/*Rishikesh Things to do*/

#rTTD{
  border: solid 5px black;
  padding: 10px;
  border-radius: 50px;
}

.rImgTTD{    /*TTD image class*/
  width: auto;
  height: auto;
}
@media (max-width:600px){
  .rImgTTD{
    width: 100px;
  height: 130px;
  }
  
}

#rImTDD{    /*TTD image id*/
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1{
  text-align: center;
}

.exc h1{
  color: #ff9274;
  text-shadow: 2px 2px 1px black;
}

.exc h2{
  color: #000080;
  text-shadow: 2px 2px 1px white;
}





