<<<<<<< HEAD
main{
    background-image: url('6.1_bgimg.jpeg');
    background-size: contain;           
   
}
#heading1{
   text-align: center;
   font-family: 'Roboto';
   font-size:7vh;
   color:hsl(0, 0%, 100%);
   margin-top: -50px;
}
#p1{
   color:rgba(255, 255, 255, 0.788);
   font-size: 3.15vh;
   font-family: 'Roboto';
   margin-left: 30px;
   margin-right: 30px;
   margin-top: -40px;
   text-align: center;
}
#call{
   margin-left: 90px;
   margin-top: 70px;
   color: rgba(255, 255, 255, 0.788);
   font-size: 2.45vh;
   font-family: 'Roboto';
}
#giveusacall{
   color: hsl(0, 0%, 100%);
   font-size: 2.62vh;
   font-family: 'Roboto';
}
#p2{
   width: 35vw;
   margin-top: -5px;
}
#table{
   margin-left: 500px;
   margin-top: -450px;
}
#name{
   width: 39vw;
   height: 5.5vh;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
   
}
#email{
   width: 39vw;
   height: 5.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
}
#phoneno{
   width: 39vw;
   height: 5.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
}
#subject{
   width: 39vw;
   height: 5.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
}
#message{
   width: 39vw;
   height: 27.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
  
}
#send{
   margin-top: 20px;
   color: rgba(255, 255, 255, 0.904);
   font-size: 18px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   background-color:orangered;
   width: 5.85vw;
   height: 5.5vh;
}
#op{
   
   height: 200px;
   background-position: center;
   background-size:cover ;
   background-attachment: fixed;
}
#leftbox{
color: white;
   width: 35vw;
}

=======
main{
    background-image: url('6.1_bgimg.jpeg');
    background-size: contain;           
   
}
#heading1{
   text-align: center;
   font-family: 'Roboto';
   font-size:7vh;
   color:hsl(0, 0%, 100%);
   margin-top: -50px;
}
#p1{
   color:rgba(255, 255, 255, 0.788);
   font-size: 3.15vh;
   font-family: 'Roboto';
   margin-left: 30px;
   margin-right: 30px;
   margin-top: -40px;
   text-align: center;
}
#call{
   margin-left: 90px;
   margin-top: 70px;
   color: rgba(255, 255, 255, 0.788);
   font-size: 2.45vh;
   font-family: 'Roboto';
}
#giveusacall{
   color: hsl(0, 0%, 100%);
   font-size: 2.62vh;
   font-family: 'Roboto';
}
#p2{
   width: 35vw;
   margin-top: -5px;
}
#table{
   margin-left: 500px;
   margin-top: -450px;
}
#name{
   width: 39vw;
   height: 5.5vh;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
   
}
#email{
   width: 39vw;
   height: 5.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
}
#phoneno{
   width: 39vw;
   height: 5.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
}
#subject{
   width: 39vw;
   height: 5.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
}
#message{
   width: 39vw;
   height: 27.5vh;
   margin-top: 20px;
   color: #7A7A7A;
   font-size: 14px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   padding-left: 10px;
  
}
#send{
   margin-top: 20px;
   color: rgba(255, 255, 255, 0.904);
   font-size: 18px;
   font-family: 'Roboto';
   border: 1px solid #7A7A7A ;
   border-radius:5px;
   background-color:orangered;
   width: 5.85vw;
   height: 5.5vh;
}
#op{
   
   height: 200px;
   background-position: center;
   background-size:cover ;
   background-attachment: fixed;
}
#leftbox{
color: white;
   width: 35vw;
}

>>>>>>> fb8d4381fd953cbac79ca70c0c6bde1799c0282e
