html, body {
  margin: 0;
  padding: 0;
}

/Header part/

header{
  margin-bottom: 25px;
}
#div_head{
  background-color: #333;
  height: 25vh;
  width: 100%;
  color: white;
  font-family: sans-serif;
  
}
#div_head img {  
  width: 13%; 
  height: 85%;
  margin-left: 10%;
  margin-top: 1%;
  display: inline-block;
}
@media (max-width: 600px) {
  #div_head img {  
  width: 0%; 
  }
}
#com-name{
  color: #ffa500;
}
#full-name{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3vw;
  letter-spacing: 2px;
  margin-left: 17%;
  display: inline-block;
  position: relative;
  top: -38%;
}
@media (max-width: 600px) {
  #full-name{
  font-size: 42px;
  margin-left: 8%;
}
}
#options{
  margin-left: 13%; 
  position: relative;
  top: -40%;
}
#div_heads{
  font-size: 1.5vw;
}
#div_heads:hover{
  background-color: #333;
  color: #ffa500;
  font-family: sans-serif;
  font-size: 1.5vw;
}
@media (max-width: 600px) {
  #options{
  margin-left: 2%;
}
#div_heads{
    position: relative;
    left: -35%;
    font-size: 0;
 }
}
select {
appearance: none;
  border: none;
}
option{
  border: none;
}
#signin-box{
    background-color: #333;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    position: relative;
    top: -40%;
    color: white;
    visibility: hidden;
}
@media (max-width: 600px) {
  #signin-box{
     visibility: visible;
  }
}
/Options-part/
a{
  text-decoration: none;
}

a:link, a:active, a:visited{
  color: black;
}

a:hover {
  color: white;
} 

#options a:link, #options a:active, #options a:visited{
  color: white;
}

#options a:hover{
  color: orange;
}

#pages-options{
  display: flex;
  flex-wrap: wrap;
  margin-left: 28%;
}
@media (max-width: 600px) {
  #pages-options{
  margin-left: 0%;
}
}
.borders{
  border: 1px solid black;
  border-radius: 7px;
  font-size: 20px;
  padding: 3px 15px 3px 15px;
}
@media (max-width: 600px) {
  .borders{
  font-size: 15px;
  padding: 3px 12px 3px 12px;
}
}
.borders:hover{
  background-color: #333;
  border: 1px solid #333;
  border-radius: 7px;
  font-size: 20px;
  color: white;
}
@media (max-width: 600px) {
  .borders:hover{
  font-size: 15px;
}
}
#signin-options{
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  #signin-options{
  visibility: visible;
}
}



/footer-section/
#footer{
  background-color: #555555;
  width: 100%;
  height: 30vh;
}
#footer img{
  width: 13%;
  height: 70%;
  display: inline-block;
  margin-left: 7%;
  position: relative;
  top: 4.5vh;
}
@media (max-width:600px){
  #footer img{
    width: 35%;
    height: 55%;
    position: relative;
    top: 5.7vh;
    }
}
#footer div{
  display: inline-block;
}
#rights{
  color: white;
  width: 30%;
  margin-left: 67%;
  font-family: sans-serif;
  position: relative;
  top: -17vh;
}
@media (max-width:600px){
  #rights{
  width: 50%;
  margin-left: 47%;
  position: relative;
  top: -12vh;
}
}
#rights a{
  color: orange;
  text-decoration: none;
}
#contact-us{
  display: inline-block;
  color: white;
  font-family: poppins;
  font-size: 2vw;
  margin-left: 73%;
  position: relative;
  top: -10vh;
}
@media (max-width:600px){
  #contact-us{
  font-size: 4vw;
  margin-left: 53%;
  position: relative;
  top: -10vh;
}
}
#icons{
  width: 20%;
  margin-left: 76%;
  color: white;
  position: relative;
  top: -7vh;
}
@media (max-width:600px){
  #icons{
  position: relative;
  top: -8vh;
  margin-left: 55%;
  width: 40%;
}
}
#icons > i{
  margin-left: 12%;
}
@media (max-width:600px){
  #icons > i{
  margin-left: 8%;
}
}